body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100; 

    background-color: whitesmoke;
}

header, main, footer {
 width: 100%;
}

.header_container {
    background-color: rgb(100, 100, 100);
    height: 60px;
}

footer {
    position: fixed;
    bottom: 0;
}

.footer_container {
    background-color: rgb(100, 100, 100);
    height: 60px;
}