{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="styles/create_note.css">
{% endblock %}

{% block body %}
    <div class="main_container">
        <h1>Создание заметки</h1>
        <div class="form_container">
            <form class="form" hx-post="/create_note" hx-swap="none" hx-ext='json-enc'>
                <div class="form_element">
                    <p>Тема заметки:</p>
                    <input type="text" name="title">
                </div>
                <div class="form_element">
                    <p>Содержание заметки:</p>
                    <textarea name="description"></textarea>
                </div>
                <button class="form_button" type="submit">Создать заметку</button>
                <div class="form_link">
                    <a href="/notes">Перейти к заметкам</a>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}