<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проект "Заметки"</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <main>
        <div class="main_container">
            <h1>Добро пожаловать в мини проект "Заметки"</h1>
            <p>Тут будет описание проекта</p>
            <div class="login_button"><a href="/auth">Войти</a></div>
        </div>
    </main>
</body>
</html>
