{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="styles/index.css">
{% endblock %}

{% block body %}
    <div class="main_container">
        <h1>Заметки</h1>
        <div class="form_container">
            <form class="form" hx-post="" hx-swap="none" hx-ext='json-enc'>
                <div class="form_element">
                    <p>Тема заметки:</p>
                    <input type="text" name="note_title">
                </div>
                <div class="form_element">
                    <p>Содержание заметки:</p>
                    <input type="text" name="note_text">
                </div>
                <button class="form_button" type="submit">Создать заметку</button>
            </form>
        </div>
    </div>
    
{% endblock %}